<div class="row">
	<div class="small-12 columns">
		<h1>Contact</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-6 columns" style="display:none">
		<p>
			Need to know something more about Lost Lake that we didn't include on the site? Fill out the form below and we will get back to you as soon as we can.
		</p>
		
		<!-- START FORM -->
		<form action="/send_mail" name="r.contactus" id="contactus" method="post" role="form" ng-submit="r.signup()" ng-controller="recapCtrl as r" novalidate>	
			<!-- First Name **REQUIRED need at least first name -->
			<div class="row">
				<div class="small-3 columns">
					<label for="firstn" class="right">First Name</label>
				</div>
				<div class="small-9 columns">
					<input type="text" id="firstn" name="firstn" placeholder="First Name" required>
				</div>
			</div>
			<!-- End First Name -->
			<!-- Last Last Name -->
			<div class="row">
				<div class="small-3 columns">
					<label for="lastn" class="right">Last Name</label>
				</div>
				<div class="small-9 columns">
					<input type="text" id="lastn" name="lastn" placeholder="Last Name" required>
				</div>
			</div>
			<!-- End Last Name -->
			<!-- Email **REQUIRED need to be able to reply -->
			<div class="row">
				<div class="small-3 columns">
					<label for="email" class="right">Email Address</label>
				</div>
				<div class="small-9 columns">
					<input type="text" id="email" name="email" placeholder="Email Address" required>
				</div>
			</div>
			<!-- End Email -->
			<!-- Phone -->
			<div class="row">
				<div class="small-3 columns">
					<label for="phone" class="right">Phone</label>
				</div>
				<div class="small-9 columns">
					<input type="tel" id="phone" name="phone" placeholder="Phone">
				</div>
			</div>
			<!-- End Phone -->
			<!-- Subject -->
			<div class="row">
				<div class="small-3 columns">
					<label for="subject" class="right">Subject</label>
				</div>
				<div class="small-9 columns">
					<input type="text" id="subject" name="subject" placeholder="Subject" required>
				</div>
			</div>
			<!-- End Subject -->
			<!-- Message -->
			<div class="row">
				<div class="small-3 columns">
					<label for="message" class="right">Message</label>
				</div>
				<div class="small-9 columns">
					<textarea id="message" name="message" type="text" required>
					</textarea>
				</div>
			</div>
			<!-- End Message -->
		
			<!-- reCAPTCHA -->
			<div class="row">
				<div class="small-3 columns">
					<label for="captcha" class="right">Captcha*</label>
				</div>
				<div class="small-9 columns">
					<div vc-recaptcha key="'6LeL2QcTAAAAABmreMgmSe6J3up5yrCEIpE-qBVa'"  ></div>
				</div>
			</div>
			<!-- End reCAPTCHA -->
			
			<!-- Submit and Clear buttons -->
			<div class="row">
				<div class="small-1 columns">
					<!-- push the buttons over a little -->
				</div>
				<br />
				<div class="small-11 columns">
					<input type="clear" value="Clear" id="clear" class="alert round button" />
					<input type="submit" ng-disabled="r.contactus.$invalid" value="Send" name="submit" id="submit" class="round button" />
				</div>
			</div>
		</form> 
		<!-- END FORM -->
		
	</div>	
	<div class="small-12 medium-12 columns">
		<p>
			Have any questions or comments? Or maybe just would like to let us know how we are doing and 
			don't want to use the online form? Here is our contact information call, write, or visit us! 
			We would love to hear from you!
		<p>
		<address>
			<b>Email:</b> <a href="mailto:lostlakeriverresort@gmail.com">lostlakeriverresort@gmail.com</a><br />
			<b>Phone:</b> <a href="tel:17606644413">1(760)664-4413</a>
			<br /><br />
			<b>Location:</b><br /> 
			We are located 31 miles north of Blythe California on highway 95 along the Colorado river.<br /><br />
			<b>Postal Address:</b><br />							
			42500 US HWY 95<br />
			Blythe CA 92225<br />
		</address>
	</div>			
</div>
