<div class="row">
	<div class="small-4 columns">
		<a href="/#/" style="padding: .05em;">
			<img src="img/logo_small.png" alt="The Lost Lake Resort logo" style="position: relative; top: .5em;" onload="$(document).foundation();" />
		</a>
	</div>
	<div class="small-8 medium-6 large-8 columns">
		<nav class="top-bar" data-topbar style="background-color: #FFFFFF;">
			<ul class="title-area">	
				<li class="name">
				</li>
				<li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
			 <ul class="right">
				 <li ><a href="/#/" class="custom-header">Home</a></li>
				 <!--<li><a href="/#/pictures" >Pictures</a></li>-->
				 <li><a href="/#/services" >Services</a></li>
				 <li><a href="/#/rates" >Rates</a></li>
				 <li><a href="/#/map" >Map</a></li>
				 <li><a href="/#/contact" >Contact Us</a></li>
				</ul>
			</section>
		</nav>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>
