<nav>
	<div class="large-12 columns">
		<div class="nav-bar left">	
			<img src="img/logo_small.png" />
		</div>
		<div class="nav-bar right">
		 <ul class="button-group">
			 <li><a href="/#/" class="button">Home</a></li>
			 <li><a href="/#/pictures" class="button">Pictures</a></li>
			 <li><a href="/#/services" class="button">Services</a></li>
			 <li><a href="/#/rates" class="button">Rates</a></li>
			 <li><a href="/#/map" class="button">Map</a></li>
			 <li><a href="/#/contact" class="button">Contact</a></li>
			</ul>
		</div>
		<hr/>
	</div>
</nav>