<nav>
	<div class="small-12 columns">
		<hr />
		<div class="nav-bar left">© Copyright no one at all. Go to town. Powered by <a href="http://wreet.co" target="_blank">wreetco</a></div>
		<div class="nav-bar right">
			<ul class="button-group">
				 <li><a href="/#/" class="small button">Home</a></li>
				 <li><a href="/#/pictures" class="small button">Pictures</a></li>
				 <li><a href="/#/services" class="small button">Services</a></li>
				 <li><a href="/#/rates" class="small button">Rates</a></li>
				 <li><a href="/#/map" class="small button">Map</a></li>
				 <li><a href="/#/contact" class="small button">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>