<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<nav class="top-bar" data-topbar style="background-color: #FFFFFF;">
			<ul class="title-area">	
				<li class="name">
					<p>
						© Copyright Lost Lake Resort.
					</p>
				</li>
			</ul>
			<section class="top-bar-section">
			 <ul class="right">
				 <li ><a href="/#/" class="custom-header">Home</a></li>
				 <!--<li><a href="/#/pictures" >Pictures</a></li>-->
				 <li><a href="/#/services" >Services</a></li>
				 <li><a href="/#/rates" >Rates</a></li>
				 <li><a href="/#/map" >Map</a></li>
				 <li><a href="/#/contact" >Contact</a></li>
				</ul>
			</section>
		</nav>
	</div>
</div>
<div class="small-12 columns text-right">
	<p style="font-size: .7em;">
		Powered by <a href="http://wreet.co" target="_blank">wreetco</a>
	</p>
</div>
