<div class="row">
	<div class="small-12 columns">
		<h1>Rates</h1>
	</div>
</div>

<div class="row">
	<div class="small-8 columns">
		<h2>Summer Season</h2>
		<h3><u>April 1st - September 30th</u></h3>
		<p>
			<b>Daily Full RV Hook-Up:</b> $30.00
			<br />
			<b>Weekly:</b> $180.00
			<br />
			<b>2 Weeks:</b> $340.00
			<br />
			<b>Monthly:</b> $650.00
			<br />
		</p>
	</div>
	<div class="small-4 columns">
		<h2>Winter Season</h2>
		<h3><u>October 1st - March 31st</u></h3>
		<p>
			<b>Daily Full RV Hook-Up:</b> $30.00
			<br />
			<b>Weekly:</b> $180.00
			<br />
			<b>Monthly:</b> $250.00 + Electric
			<br />
		</p>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<p>
			Call us at <a href="tel:7606644413">(760) 664-4413</a> or visit our <a href="/#/contact">Contact</a> page and reserve your spot today!
		</p>
		<p>
			Check in time is: 6:00 PM
			<br />
			Check out time is: 6:00 PM
			<br />
		</p>

		<p>
			<u>Please note:</u> <b>ALL</b> reservations must be paid for in advance.<br />
			<u>Cancellation Policy:</u> We require a 2 week notice prior to arrival
			in order to receive a refund minus a $10.00 processing fee.<br /><br />
			<b>Monthly Storage Available:</b> $40.00 per month.<br />
		</p>

	</div>
</div>