<br />

<div class="row">
	<div class="small-12 columns">
		<h1>Services</h1>
		<p>
			Our general store is open 7 days week from 7:00 am to 7:00 pm including most holidays. 
			In the summer time the General Store is open on weekends from 7:00 am to 10:00 pm for your convenience.
		<p>
		<p>
			If you need it we have it. The store is always well stocked with a variety of grocery items for just about any type of meal. 
			We serve convenient food you can order from our menu including our most popular, biscuits and gravy, pizza and more.
		</p>
		<p>
			The general store carries clothing apparel for all sizes and seasons. As well as unique gifts and souvenirs. 
			Our hardware department is well stocked with plumbing and electrical supplies. We also carry water craft repair items 
			including oil additives.
		</p>
	</div>

</div>
<div class="row">
	<div class="small-6 columns">
		<h2>Lost Lake Amenities</h2>
		<ul>
			<li>Full RV hook ups</li>
			<li>Gas and Propane</li>
			<li>Launch ramp</li>
			<li>Day use beaches</li>
			<li>Bathrooms</li>
			<li>Showers</li>
			<li>Laundromat</li>
			<li>Storage</li>
		</ul>
	</div>
</div>

<br />